/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/


#testoAlternato {
    font-family: 'Bree Serif', serif;
    text-align: center;
}


.parole i {
    display: block;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform: translateY(-50px);
}


.parole i:nth-child(1) {
    opacity: 1;
    transform: translateY(0);
    animation: mandaGiu 9s infinite;
}
